.videoBlock {
	display: block;
	background: radial-gradient(
		100% 80% at 64% 95%,
		rgba(108, 119, 134, 0.4) 40%,
		rgba(83, 104, 104, 0.4) 100%
	);
	margin: 20px 0;
	padding: 8px 20px 12px;
}

#videoSectionTitle {
	font-size: 21px;
}

#videoSection {
	column-gap: 32px;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
}

.communityVideo {
	display: flex;
	flex-direction: column;
	max-width: 320px;
}

#communityVideoTitle {
	margin: 4px 4px 12px 4px;
	padding-top: 0;
}

.communityVideo h2 {
	line-height: 24px;
}

#channelAndDateContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: auto;
	padding: 0px 4px;
}

#channelAndDateContainer h2 {
	color: rgb(200, 200, 200) !important;
	margin-bottom: 0px;
}
